<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/products/delete}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <img src="" th:src="${product.getImage()}"  width="100px">
    <label th:text="${product.getName()}"></label>
    <label th:text="${product.getPrice()}"></label>
    <label th:text="${product.getQuantity()}"></label>
    <label th:text="${product.getDescribe()}"></label>
    <input type="submit" value="Delete">
</form>
</body>
</html>