<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<body>
<form th:action="@{/products/update}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>image</label>
        <input type="text" th:field="*{image}">
    </div>
    <div>
        <label>name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>price</label>
        <input type="text" th:field="*{price}">
    </div>
    <div>
        <label>quantity</label>
        <input type="text" th:field="*{quantity}">
    </div>
    <div>
        <label>describe</label>
        <input type="text" th:field="*{describe}">
    </div>
    <input type="submit" value="Update">
</form>
</body>
</html>