<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/products/create">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Describe</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td>
                <img alt="anh" width="50px" th:src="${product.getImage()}">
            </td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.describe}"></td>
            <td><a th:href="@{/products/update/__${product.id}__ }">Update</a></td>
            <td><a th:href="@{/products/delete/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>